@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #3d3d3d;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    border-radius: 20px; 
    width: 250px;
    height: 515px;
    position: relative;
    overflow: hidden;

    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    transition: width .3s;
}

div#img {
    background: url(../img/back-tv.jpg) no-repeat left bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#form > p {
    font-size: 0.8em;
}

form > .camp {
    background-color: purple;
    border: 2px solid purple;
    height: 40px;
    border-radius: 4px;
    margin: 5px 0;
}

.camp > label {
    display: none;
}

.camp > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;

}

.camp > input:focus-within {
    background-color: white;
}

.camp > input {
    background-color: rgb(172, 255, 227);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    transform: translateY(-13px);
    border: 0;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(90, 180, 150);
}

.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    background-color: rgb(90, 112, 184);
    color: rgb(0, 190, 190);
    border: 1px solid rgb(77, 95, 153);
    border-radius: 5px;
    text-decoration: none;
}

.botao > i {
    font-size: 0.8em;
}

